<footer class="site-footer">
      <div class="container">
        <section class="small-font">
          <img src="/img/license.svg" alt="CERN-OHL-1.2 MIT CC-BY-SA-4.0" width="210" height="109" />
        </section>
        <section class="small-font" style="text-align: right;">
            <div>
              <a href="https://certification.oshwa.org/fr000013.html" target="_blank">
                <img src="/img/OSHW_mark_FR000013_sm.png" alt="OSHW Mark" width="100" height="73" /><br>
                <span>Certified Open Hardware</span>
              </a>
            </div>
          </section>
      </div>
      <div class="container" style="margin-top:2em;">
        <section style="flex:2">
          Planck 6502 is a retro computer designed by <a href="https://jfoucher.com">Jonathan Foucher</a>
          <br>
          <a href="mailto:jfoucher@6px.eu">Email me</a>
          
        </section>
        <section style="text-align: right;">
          ___VERSION___
          <a href="https://gitlab.com/planck-6502/planck-6502" target="_blank">Source code</a><br>
          <a href="https://twitter.com/planck6502" target="_blank">Twitter</a>
        </section>
      </div>
      <div class="container" style="margin-top:2em;text-align: center;font-size: 0.8em;">
        <a href="https://6px.fr">
          By Six Pixels
        </a>
      </div>
  </footer>
