<header class="site-header">

    <h2 class="logo">
        <a href="{{ site.baseurl }}/">
            <img src="/img/logo.svg" alt="PLANCK 65c02" width="236" height="52"/>
        </a>
    </h2>
    <div class="nav">
        <nav>
          {%assign splitUrl = page.url | split: '/' %}
          <ul class="level-1">
            <li {% if "/" == page.url %}class="active"{% endif %}><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
            <li {% if "Hardware" == splitUrl[1] %}class="active"{% endif %}><a href="{{ "/Hardware" | prepend: site.baseurl }}">Hardware</a></li>
            <li {% if "Software" == splitUrl[1] %}class="active"{% endif %}><a href="{{ "/Software" | prepend: site.baseurl }}">Software</a></li>
            <li id="news" {% if "news" == splitUrl[1] %}class="active"{% endif %}>
              <a href="{{ "/news" | prepend: site.baseurl }}">News</a>
            </li>
            <li><a href="https://gitlab.com/planck-6502/planck-6502/" target="_blank">Source code</a></li>
            <li><a href="https://forum.planck6502.com" target="_blank">Forum</a></li>
            <!-- <li><a href="/news/2023/08/22/buy-kits">Buy</a></li> -->
          </ul>
          {%if page.url contains "/Hardware/"%}
          <ul class="level-2">
            {% assign sorted_pages = site.pages | sort:"order" %}
            {% for npage in sorted_pages %}
            {%if npage.url contains "/Hardware/"%}
            {% assign url = npage.url | replace: "/Hardware/", "" %}

            {% if url.size > 2 %}
            <li {% if npage.url == page.url %}class="active"{% endif %}><a href="{{ npage.url }}">
              {% if npage.short_title %}
              {{ npage.short_title }}
              {% else %}
              {{npage.title}}
              {% endif %}
            </a></li>
            {% endif %}
            {% endif %}
            {% endfor %}
            
          </ul>
          {%endif%}
        </nav>
    </div>
  </header>
  <script>
    var postDate = (new Date({{ site.posts[0].date | date: '%s'}} * 1000)).getTime();
    var now = (new Date()).getTime();
    
    if ((now - postDate) < 7*3600*24*1000) {
      var news = document.getElementById('news');
      news.className += ' notif'
    }
  </script>